.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;

  .main {
    display: flex;

    &--text {
      margin: 0em 5em;
      overflow: hidden;

      .tool {
        display: flex;
        flex-wrap: wrap;

        &--single {
          border: 1px solid black;
          width: auto;
          margin: 0.5em;
          padding: 0em 0.25em;
          border-radius: 1em;

          &--name {
            margin: 0em 0.5em;
          }
        }
      }

      &--links {
        font-size: 1em;
      }
    }

    &--image {
      max-width: 640px;
      max-height: 480px;
    }
  }
}

@media screen and (max-width: 480px) {
  .about {
    overflow: hidden;

    .main {
      border: 3px solid red;
      width: 115%;
      flex-direction: column;

      &--text {
        margin: 0;

        &--links {
          font-size: 0.6em;
        }
      }

      &--image {
        max-width: 480px;
        max-height: 320px;
      }
    }
  }
}
