.about {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;

  #main {
    display: flex;
    border: 3px solid orange;

    #text {
      margin: 1em;
    }

  }

}