.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;

  .main {
    display: flex;

    &--text {
      margin: 0em 5em;

      .tool {
        display: flex;
        flex-wrap: wrap;

        &--single {
          border: 1px solid black;
          width: auto;
          margin: 0.5em;
          padding: 0em 0.25em;
          border-radius: 1em;

          &--name {
            margin: 0em 0.5em;
          }
        }
      }
    }
  }
}
