.intro {
  padding: 30em;
  background-image: url("../../images/default/open-meadow.png");
  background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  &--line {
    background-color: #b9d531;
    border-radius: 3px solid red;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    border: 3px solid red;
    padding: 3em 0;
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .intro {
    border: 3px solid red;
    padding: 3em 0;
    font-size: 2em;
    text-align: center;
  }
}
