.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  #project-title {
    margin: 0.5em;
    font-size: 4em;
  }

  .tools {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-evenly;

    &--single {
      border: 3px solid black;
      padding: 0.4em;
      border-radius: 1.3em;

      span {
        margin-left: 1em;
      }
    }
  }

  .line {
    &--first {
      width: 115em;
    }

    &--second {
      width: 20em;
    }

    &--third {
      width: 25em;
    }
  }

  .working {
    border: 3px solid red;
    width: 80%;
    display: flex;
    flex-direction: column;

    &--border {
      display: flex;
      border: 3px solid blue;
      margin: 1em;
      padding: 1em;
    }

    &--details {
      #work {
        text-align: left;
      }

      #notes {
        text-align: right;
      }

      &--right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }
    }
  }

  .image-carousel {
    margin: 1em;
  }

}
