.projects {
  background-color: rgba(106, 212, 135, 0.3);
  color: black;
  padding: 2em;
  display: flex;

  #image {
    margin: 1em;
  }

  #details {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s ease-in-out;
  }

  .project-img {
    max-width: 960px;
    max-height: 720px;
  }
}
