.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  #project-title {
    margin: 0.5em;
    font-size: 4em;
  }

  .tools {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;

    &--single {
      border: 3px solid black;
      padding: 0.4em;
      width: auto;
      border-radius: 1.3em;

      span {
        margin-left: 1em;
      }
    }
  }

  .line {
    &--first {
      width: 115em;
    }

    &--second {
      width: 20em;
    }

    &--third {
      width: 25em;
    }
  }

  .working {
    width: 80%;
    display: flex;
    flex-direction: column;

    &--intro {
      display: flex;

      &--elements {
        margin-right: 2em;
      }

      .image-carousel {
        width: 100%;
        height: auto;

        &--image {
          border: 1px solid rgb(194, 194, 194);
          border-radius: 20px;
          width: 100%;
          height: auto;
        }
      }
    }

    &--border {
      display: flex;
      justify-content: space-evenly;
      width: 100em;
      margin: 1em;
      padding: 2em;
      border-radius: 50px;

      &--details {
        #work {
          text-align: left;
        }

        #notes {
          text-align: right;
        }

        #text {
          text-align: left;
        }

        &--right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          text-align: right;
        }

        &--image {
          box-shadow: 5px 5px 5px;
          border-radius: 50px;
        }
      }
    }
  }

  .carousel-control-prev-icon {
    border: 3px solid red;
  }
}

.github-link {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  text-decoration: none;

  &--separate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7em;

    #remove-underline {
      text-decoration: none;
    }
  }
}
