.project {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50rem;
  overflow: hidden;

  &--slider {
    border: 3px solid green;
    width: 90%;
    margin: 1rem;

    &--item {
      border: 3px solid violet;
      margin: 1rem;
      max-width: 90%;
      height: 40rem;
      overflow: scroll;
      padding: 1rem;

      &--image-section {
        border: 3px solid red;
        overflow: scroll;
        height: 18rem;

        &--image {
          // max-width: 720px;
          // max-height: 405px;
          width: 100%;
          height: 100%;
        }
      }

      &--details {
        border: 3px solid green;
        position: relative;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;

        &--text {
          text-align: center;
          margin-bottom: 1rem;
          /* Allow text to overflow */
          overflow: auto;
        }

        &--buttons {
          display: flex;
          justify-content: space-evenly;
          justify-items: center;
          align-items: center;
          margin: 1rem;
          margin-top: 4rem;
          // position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          // border: 3px solid greenyellow;
        }
      }
    }
  }

  .slick-arrow {
    border: 3px solid red;
    background-color: black;
    width: 15%;
    height: 6%;
    margin: 22.7rem -1rem;
    z-index: +1;
    position: absolute;
  }

  .slick-prev {
    margin-right: 1rem;
    border: 3px solid springgreen;
  }

  .slick-dots {
    position: absolute;
    border: 3px solid purple;
    margin: -1rem 30rem;
    width: 50%;
  }

  .slick-slide {
    border: 3px solid orange;
    width: auto;
    overflow: hidden;
  }
}
