.project {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 50rem;
  overflow: hidden;

  &--slider {
    border: 3px solid green;
    width: 90%;
    margin: 1rem;

    &--item {
      border: 3px solid violet;
      margin: 1rem;
      max-width: 90%;
      overflow: hidden;

      &--image-section {
        border: 3px solid red;
        overflow: hidden;

        &--image {
          // max-width: 720px;
          // max-height: 405px;
          width: 100%;
          height: 100%;
        }
      }

      &--details {
        border: 3px solid green;

        &--buttons {
          display: flex;
          justify-content: center;
          margin: 1rem;
        }

      }
    }
  }

  // .slick-arrow {
  //   border: 3px solid red;
  //   background-color: black;
  //   width: 15%;
  //   height: 10%;
  //   margin: 10rem -1rem;
  //   z-index: +1;
  //   position: absolute;
  // }

    // .slick-prev {
    //   margin-right: 1rem;
    //   border: 3px solid springgreen;
    // }

  .slick-dots {
    position: absolute;
    border: 3px solid purple;
    margin: -1rem 30rem;
    width: 50%;
  }

  .slick-slide {
    border: 3px solid orange;
    width: auto;
    overflow: hidden;
  }
}
